:root {
  --text: #b6afdc;
  --background: #08000e;
  --primary: #908ff3;
  --secondary: #15141f;
  --accent: #6560cc;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background);
}